.inventory {
    display: flex;
    flex-flow: row wrap;
    grid-area: inventory;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
}

.ingredient {
    border-bottom: 1px solid #ccc;
    display: flex;
    margin: 0 20px;
    padding: 10px 0;
    width: 200px;
}
